# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Ignore any folder
*cmake-build-debug/
*cmake-build-release/
.idea/
.fleet/

# Except labs and src folders
!src/
