# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Except labs and src folders
!src/
.fleet/
target/

# Vivado files
.jobs/
synth_*/
*.runs/
*cache*/
*.hw/
sim_*/
*sim/
*.ip_user*/

lab1.runs/

# IDEs files
.vscode/
*build*/
build*/
.fleet/
.idea/
.metadata/
OracleDDM/



