<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Random numbers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>


<form style="text-align: center" th:action="@{/random}" method="get">

    <label for="num">Enter number: </label>
    <br>
    <input type = "number" id = "num" name = "num" value="50">
    <br>
    <br>
    <button id="random_more" name="md" type="submit" value=LESS>Random less</button>
    <button id="random_less" name="md" type="submit" value=MORE>Random more</button>

    <br>


</form>

<body>
<p th:text="'Your number: ' + ${rnum}"></p>
</body>

</html>